
.nav{
	grid-area: n;
	background-color: darkolivegreen;
	padding: 20px;
}

.item{
	color: cornsilk;
	line-height: 32px;
	text-decoration: none;
}

.active {
	color: rgb(181, 185, 181);
}
.item:hover {
	color: rgb(100, 101, 104);
	text-decoration: none;
	background-color: rgb(185, 236, 185);
	border-radius: 15%;
	padding: 2px;
}

