.users{

}

.imgUsers{
    display: block;
    width: 80px;
    border-radius: 50%;
}
.imgUsers img{
    display: block;
    width: 100px;
    border-radius: 50%;
}

.selectedPage{
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.unselectedPage{
    cursor: pointer;
}

.preloader {
    width: 100px;
}


