.Dialogs {
    display: grid;
    grid-template-columns: 3fr 3fr 9fr;
    background-color: darkkhaki;
}

.Dialog {
    padding: 10px;
    color: gold;
}

.Dialog .DialogItem {

}

.Dialog .DialogItem .item {
    text-decoration: none;
    color: darkred;
}

.active {
    /*color: hotpink;*/
}

.Messages {
    padding: 10px;
    color: midnightblue;
}

.Messages .Message {

}

.TextButtons {
    display: block;
    padding-top: 20px;
    padding-left: 20px;
}

.Buttons {

}