.paginatorBlock{
    display: block;
    
}

.selectedPage{
    display: inline-block;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 2px;
}

.unselectedPage{
    display: inline-block;
    cursor: pointer;
    margin-right: 2px;
}